.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .content {
    flex: 1 0 75%;
    margin: 0 auto;
    margin-left: 100px;
  }
}
