.paragrapgh-message {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: rgba(224, 93, 93, 0.21);
  z-index: 100;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
  color: #cdb2bb;
  border: none;
  border-radius: 30px;
  padding: 30px 100px;
  font-size: 20px;
  margin-top: 700px;
  margin-left: -550px;
}
